<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="ESR.Listeners"/>
</listeners>

  <test name="multipleSites">
    <classes>
      <class name="ESR.MultipleSitesLogin"/>
          </classes>
      </test>
     <test name="performanceMeasure">
    <classes>
      <class name="ESR.MeasureLoadTime2"/>
          </classes>
      </test>
      <test name="validatingUserCanLogin">
    <classes>
      <class name="ESR.LoginValidation"/>
          </classes>
      </test> 
   
       <test name="App Test">
         <classes>
      <class name="ESR.AppTest"/>
       </classes>
      </test>
            
   <!-- Test -->
</suite> <!-- Suite -->
